.comment-form {
  position: relative;
  display: block;
  padding: 6px 12px 12px 12px;
  border-radius: var(--box-radius);
  background: var(--color5);
}

.comment-form__dropdown_rss {
  text-align: left;

  & .dropdown__content {
    width: 8em;
  }
}
